<div class="col-md-6 col-12">
    <img src="Content/img/simple-house-logo.png" alt="Logo" class="tm-site-logo" />
    <div class="tm-site-text-box">
        <h1 class="tm-site-title">Simple House</h1>
        <h6 class="tm-site-description">new restaurant template</h6>
    </div>
</div>